<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Circuit Virtual Reception</title>
    <link rel="stylesheet" href="/css/app.css">
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="https://circuitsandbox.net/sdk.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/controllers.js"></script>
  </head>



  <body ng-app="circuit.virtual.receptionist" data-ng-cloak>

  <div ng-controller="InitCtrl">


    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <ul class="nav nav-tabs">
            <li><a href="/login">Log in</a></li>
            <li><a href="/logout" ng-show="!!localUser">Log out</a></li>
            <div id="userInfo" class="pull-right" ng-show="!!localUser" >Welcome&nbsp;<strong>{{localUser.displayName}}&nbsp;</strong></div>

          </ul>
        </div>
      </div>
    </div>
    <div data-ui-view class="container"></div>
    <div id="alertBox" data-ng-show="error" class="alert alert-danger">
      <button type="button" data-ng-click="error = null;" class="close">&times;</button><strong>Oh no!&nbsp;</strong><span data-ng-bind="error"></span>
    </div>

    <div ng-view=""></div>

  </div> <!-- InitCtrl -->

    <!--


  <div ng-controller="InitCtrl">
    <div ng-controller="LoginCtrl">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <ul class="nav nav-tabs">
            <li data-access-level="accessLevels.anon" active-nav><a href="/login">Log in</a></li>
            <li data-access-level="accessLevels.user" active-nav><a href="" ng-click="logout()" ng-show="!!localUser">Log out</a></li>
            <div id="userInfo" data-access-level="accessLevels.user" class="pull-right" ng-show="!!localUser" >Welcome&nbsp;<strong>{{localUser.displayName}}&nbsp;</strong></div>

          </ul>
        </div>
      </div>
    </div>
    <div data-ui-view class="container"></div>
    <div id="alertBox" data-ng-show="error" class="alert alert-danger">
      <button type="button" data-ng-click="error = null;" class="close">&times;</button><strong>Oh no!&nbsp;</strong><span data-ng-bind="error"></span>
    </div>


    

<h1 ng-show="!localUser"> Welcome to the Virtual Receptionist</h1>
<p ng-show="!localUser">  Please enter the Circuit credentials for the corresponding virtual receptionist: </p>
<br>
<section class="error" ng-show="!!error">{{error}}</section>

<form ng-submit="login()" name="loginForm" role="form" class="form-horizontal" ng-show="!localUser">
  <div class="form-group">
    <label for="username" class="control-label col-sm-2" >Username</label>
    <div class="col-sm-3">
      <input type="email" ng-model="email" placeholder="Your Circuit email" name="username" required="required" autofocus="autofocus" class="form-control"/>
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="control-label col-sm-2" >Password</label>
    <div class="col-sm-3">
      <input type="password" ng-model="password" placeholder="Password" name="password" required="required" class="form-control"/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" ng-show="!localUser" ng-disabled="!email || !password" class="btn btn-default">Log in</button>
    </div>
  </div>

</form>


<h1 ng-show="!!localUser && !notified"> Please enter the visitors details:</h1>
<br>
<div ng-controller="ConvCtrl"> 
<form ng-submit="send()" name="contactForm" role="form" class="form-horizontal" ng-show="!!localUser">
    <div class="form-group">
    <label for="visitorname" class="control-label col-sm-2">Name</label>
    <div class="col-sm-3">
      <input type="text" ng-model="visitorname" ng-show="!!localUser" placeholder="Your name" name="visitorname" required="required" autofocus="autofocus" class="form-control"/>
    </div>
  </div>
  <div class="form-group">
    <label for="companyname" class="control-label col-sm-2">Company</label>
    <div class="col-sm-3">
      <input type="text" ng-model="companyname" ng-show="!!localUser" placeholder="Your company" name="companyname" required="required" autofocus="autofocus" class="form-control"/>
    </div>
  </div>
  <div class="form-group">
     <label class="control-label col-sm-2">Who are you visiting?</label>
    <div class="pad-bottom col-sm-2">Search for your contact person</div>
  
      <div><input type="text" ng-model="query" ng-keyup="search(query, $event)" placeholder="Search for a user" class="col-sm-2"/></div>
      <div class="pad-bottom col-sm-3">
        <select multiple size="5">
          <option ng-repeat="user in users" value="user" ng-click="connect2User(user)">{{user.displayName}}</option>
        </select>
      </div>
  </div>
 
  <div class="form-group">
    <label for="contact" class="control-label col-sm-2">Contact person:</label>
    <div class="col-sm-3">
      <input type="email" ng-model="contactEmail" ng-show="selectedUsers.length" ng-disabled="true" name="contact" required="required" class="form-control"/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" ng-disabled="!selectedUsers.length" class="btn btn-default">Send</button>
    </div>
  </div>

</form>

<section ng-show="!!localUser && !!notified">
  <h1 > Your contact person has been notified</h1>
  <p>  Please wait in the reception hall</p>
   <button ng-click="reload()" class="btn btn-default">OK</button>
</section>


  </div> <!-- ConvCtrl 
  </div><!-- LoginCtrl 
    </div> <!-- InitCtrl -->


  </body>
</html>